---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div>
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <div class="author-name">{{site.author}}</div>
      <p>{{site.about-author}}</p>
    </div>
  </header> <!-- End Header -->

  <a href="https://drive.google.com/file/d/1psCOud9y97RdSiswYpeFLFOQhTtV3f3g/view" style="text-align: center;">
    <button style="
      background-color: rgb(240, 102, 160);
      border: none;color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    ">View Policy Guide
    </button>
  </a>
  <a href="https://umsu.simplyvoting.com" style="text-align: center;">
    <button style="
        background-color: rgb(240, 102, 160);
        border: none;color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: 20px;
        ">Vote Here
    </button>
  </a>
  <footer>
    <section class="contact">
      <h3 class="contact-title">Contact Us</h3>
      <ul>
          <li><a href="https://www.instagram.com/upliftasbc" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <li class="email"><a href="mailto:upliftasbc@gmail.com"><i class="fa fa-envelope-o"></i></a></li>
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
